
/* Body */
.body-tentangkami{
  background-color: #9CC976;
}

/* Fakta */
.fakta{
  margin-top: 25px;
  font-weight: 600;
}

.ffg1{
  background-color:#FCF299;
}

.ffg2{
  background-color: #F45A5A;
}

.ffg3{
  background-color: #F47F5A;
}

.fp{
  background-color:#9CC976 ;
}

.txtfp1{
  margin-top: 100px;
  margin-bottom: 100px;
}

.txtfp2{
  margin-top: 100px;
  margin-bottom: 100px;
}

/* Fun&Fact */

.project{
  background-color: #FFFFE0;
}

.textff{
  margin-top: 100px;
}

.textff1{
  margin-top: 30px;
  margin-bottom: 30px;
}

/* atur cointainer baru di fokus project */
.dc1{
  background-color:#FCF299;
}

.dc2{
  background-color:#F45A5A;
}

.dc3{
  background-color: #F47F5A;
}